body {
  background: #e7e8d1;
  color: #8f1014;
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: serif;
}

h1 {
  font-size: 5em;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

a {
  color: inherit;
}

a:hover {
  text-shadow: 0px 0px 1px currentcolor;
}

input[type=submit], input[type=button], .input_button {
  background-color: #b85042;
  border: 1px #e7e8d1 solid;
  border-radius: 20px;
  color: #e7e8d1;
  margin: 5px;
  font-family: sans-serif;
  text-decoration: none;
  text-shadow: none;
}
input[type=submit]:hover, input[type=button]:hover, .input_button:hover {
  cursor: pointer;
}
input[type=submit]:active, input[type=button]:active, .input_button:active {
  box-shadow: inset 5px 5px #8f1014;
}

input[type=text],
input[type=password] {
  background-color: #e7e8d1;
  border: 1px #b85042 solid;
  border-radius: 10px;
  color: #8f1014;
  padding: 5px;
  margin: 5px;
  max-width: 100%;
}

section {
  text-align: center;
}

.notdisplayed {
  display: none;
}

.block_labels > label {
  display: block;
}

.validation_page input[type=submit], .validation_page input[type=button], .validation_page .input_button, .register_page input[type=submit], .register_page input[type=button], .register_page .input_button, .login_page #login_login input[type=submit], .login_page #login_login input[type=button], .login_page #login_login .input_button, .login_page #login_intro input[type=submit], .login_page #login_intro input[type=button], .login_page #login_intro .input_button {
  font-weight: 700;
  font-size: 1em;
  padding: 10px 15px;
}

#screen_area {
  margin-bottom: -2em;
  margin-top: 2em;
}

#screen_area:after {
  height: 2em;
  content: "";
  display: block;
}

#footer_area {
  position: fixed;
  height: 2em;
  width: 100%;
  left: 0px;
  bottom: 0px;
  background-color: #e7e8d1;
}

#popup_back {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(143, 16, 20, 0.2);
  backdrop-filter: blur(2px);
}
#popup_back #popup_box {
  width: fit-content;
  position: relative;
  padding: 2em;
  margin: 4em auto;
  background-color: #e7e8d1;
  border-radius: 20px;
}
#popup_back #popup_area {
  text-align: center;
}
#popup_back .close_button {
  top: 0.4em;
  right: 0.4em;
  position: absolute;
  font-family: sans-serif;
  cursor: pointer;
}

.mainscreen_page .sel_list_ent.selected {
  border: 1px solid #b85042;
}
.mainscreen_page #content {
  display: flex;
  flex-direction: row-reverse;
  border-width: 1px;
  border-radius: 20px;
  padding: 8px;
}
.mainscreen_page #chan_list_list::after {
  display: block;
  border-bottom: 1px solid #b85042;
  width: 50%;
  margin: 10px auto;
  content: "";
}
.mainscreen_page #chan_list {
  width: 20%;
  text-align: center;
}
.mainscreen_page #chan_edit {
  width: 80%;
  margin-right: 5px;
}
.mainscreen_page #chan_list, .mainscreen_page #chan_edit {
  margin-bottom: 5px;
}
.mainscreen_page .sel_list_ent:nth-child(odd) {
  background: #a7beae;
}
.mainscreen_page .sel_list_ent:nth-child(even) {
  background: #e7e8d1;
}
.mainscreen_page .sel_list_ent {
  border: 1px #e7e8d1 solid;
  border-radius: 20px;
  padding: 20px;
}

#header_area {
  position: fixed;
  height: 2em;
  width: 100%;
  left: 0px;
  top: 0px;
  background-color: #b85042;
  z-index: 1;
}
#header_area div {
  display: flex;
  flex-direction: row-reverse;
}
#header_area #profile_button, #header_area #logout_button {
  background-size: cover;
  height: 2em;
  width: 2em;
}
#header_area #profile_button {
  background-image: url("img/user_profile.svg");
}
#header_area #logout_button {
  background-image: url("img/logout.svg");
}

.login_page #login_intro {
  position: relative;
  width: 100%;
  min-height: auto;
}
.login_page #login_intro:before, .login_page #login_intro:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.login_page #login_intro:before {
  z-index: -2;
  background-color: black;
}
.login_page #login_intro:after {
  z-index: -1;
  background-image: url(img/salzburg.jpg);
  background-position: center;
  background-size: cover;
  filter: blur(2px);
}
.login_page #login_intro_text {
  padding: 100px 15px;
  color: #e7e8d1;
  text-shadow: 10px 0px 20px black, -10px 0px 20px black;
}
.login_page #login_intro input[type=submit], .login_page #login_intro input[type=button], .login_page #login_intro .input_button {
  text-transform: uppercase;
  padding: 15px 30px;
  display: inline-block;
  transition-duration: 0.25s;
}
.login_page #login_intro input[type=submit]:hover, .login_page #login_intro input[type=button]:hover, .login_page #login_intro .input_button:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  transition-duration: 0.25s;
}
.login_page #login_intro2, .login_page #login_login, .login_page #login_trailer, .login_page #login_usecases, .login_page #login_docs {
  padding: 100px 25px;
}
.login_page #login_usecases, .login_page #login_docs {
  background-color: #b85042;
  color: #e7e8d1;
}
.login_page #login_trailer a {
  padding: 20px;
}
.login_page #login_intro2 div {
  padding: 20px;
}
.login_page #login_intro2 div::first-letter {
  font-size: 2em;
}
.login_page #login_login div {
  padding: 1em;
}
.login_page #login_usecases {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.login_page #login_usecases h1 {
  width: 100%;
  margin: 0 0 50px 0;
}
.login_page #login_usecases .usecase {
  width: 150px;
  margin: 20px;
}
.login_page #login_usecases .usecase p {
  margin: 0;
}
.login_page #login_usecases .usecase img {
  width: 100%;
  filter: invert(86%) sepia(28%) saturate(126%) hue-rotate(23deg) brightness(109%) contrast(82%);
}

.validation_page #screen_area {
  text-align: center;
}

@media (max-width: 700px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.5em;
  }

  .mainscreen_page #content {
    display: block;
  }
  .mainscreen_page #content #chan_list::after {
    display: block;
    border-bottom: 1px solid #b85042;
    width: 50%;
    margin: auto;
    content: "";
  }
  .mainscreen_page #chan_edit {
    width: 100%;
    margin-right: 0px;
  }
  .mainscreen_page #chan_list {
    width: 100%;
  }
}

/*# sourceMappingURL=app.css.map */
